
.Pairs{
  width: 10vw;
  height: 3vh;

}
.OPEN{
  position: relative;
  left: 0%;
  }
  
  
  button:hover
  {
    background: #0beb70;
    color: rgb(34, 33, 33);
  }
  .Grid
  {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }