button
{
  background: none;
  border: 2px solid rgb(26, 6, 6);
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(32, 32, 32);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  position: 430px;
} 

.Map{
  font-size: large;
}
button:hover
{
  background: #0beb70;
  color: rgb(34, 33, 33);
}

img{
    
    height: 100vh;
    width: 100vw;

}
.Penguin{
    position:absolute;
    top: 91%;
    left: 55%;

}
.Rhino{
    position:absolute;
    top: 55%;
    left: 53%;
}
.Leopard{
    position:absolute;
    top: 39%;
    left: 45%;
}
.PolarBears{
    position:absolute;
    top: 7%;
    left: 34%;
}
.Crocodiles{
    position:absolute;
    top: 48%;
    left: 81%;
}
.Dolphins{
    position:absolute;
    top: 50%;
    left: 10%;
}
.Pandas{
    position:absolute;
    top: 28%;
    left: 76%;
}
.Whale{
    position:absolute;
    top: 77%;
    left: 43%;
}
.Mink{
    position:absolute;
    top: 20%;
    left: 54%;
}
.CaliCon{
    position:absolute;
    top: 25%;
    left: 17%;
}
.Jaguars{
    position:absolute;
    top: 60%;
    left: 30%;
}


.popup-Penguin{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
    
}
.popup-header-Penguin{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Penguin{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}



.popup-Jaguar{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
}
.popup-header-Jaguar{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Jaguar{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}




.popup-Dolphin{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
}
.popup-header-Dolphin{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Dolphin{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}


.popup-Whale{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
}
.popup-header-Whale{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Whale{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}


.popup-Calicondor{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
}
.popup-header-Calicondor{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Calicondor{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}


.popup-Crocodile{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
}
.popup-header-Crocodile{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Crocodile{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}

.popup-Leopard{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
}
.popup-header-Leopard{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Leopard{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}

.main-polar-bear{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  .popup-header-polar-bear{
    display: flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  
  }
  .popup-polar-bear{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
  }
  
  .main-Mink{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  
  .popup-header-Mink{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  }
  
  .popup-Mink{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
  }
  
  .main-Panda{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  .popup-header-Panda{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  }
  
  .popup-Panda{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
  }
  
  .main-Rhino{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  
  .popup-Rhino{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    
  }
  .popup-header-Rhino{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  }

  .DolphinPic{
    height: 250px;
    width: 320px;
  }


.JaguarPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }



.PenguinPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }



.WhalePic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  

.CalicondorPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

 


.LeopardPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }


.CrocodilePic{
    height: 250px;
    width: 350px;
    text-align: center;
  }



.PolarBearPic{
    height: 250px;
    width: 100%;
    text-align: center;
  }

  

.MinkPic{
    height: 250px;
    width: 400px;
    text-align: center;
  }



.PandaPic{
    height: 250px;
    width: 430px;
    text-align: center;
  }


.RhinoPic{
    height: 250px;
    width: 430px;
    text-align: center;
  }




